@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
  background-image: url("/static/img/uilogoo.png");
  height: 70vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 250px auto;
    padding: 40px 30px 30px 30px;
    background-color: #d63230;
    background-image: linear-gradient(319deg, #d63230 0%, #f39237 37%, #97cc04 100%);
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #F7A440;
    color: black;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
    -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}


.wrapper .btn:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,204,61,1) 100%, rgba(0,212,255,1) 100%);
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}